{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}用户登录{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg{
            color: red;
            position: absolute;
            font-size: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="account">
        <div class="title">用户登录</div>
        <form id="form" method="post" novalidate>
            {% csrf_token %}
            {% for foo in form %}
                {% if foo.name == 'verification_code' %}
                    <div class="form-group">
                        <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                        <div class="row">
                            <div class="col-xs-7">
                                {{ foo }}
                                <span class="error-msg"></span>
                            </div>
                            <div class="col-xs-5">
                                <input id="smsBtn" type="button" class="btn btn-default" value="点击获取验证码">
                            </div>
                        </div>
                    </div>
                 {% else %}
                    <div class="form-group">
                        <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                        {{ foo }}
                        <span class="error-msg"></span>
                    </div>
                {% endif %}
            {% endfor %}
                <div>
                    <div style="float: right">
                        <a href="{% url 'sign_in' %}">用户名密码登录？</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <input id="submit" type="button" class="btn btn-primary" value="登录">
                    </div>
                </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        //页面加载完成自动执行函数
    $(function () {
        bindClickBtnSms()
        bindClickSubmit()

    });
    function bindClickSubmit() {
        $('#submit').click(function () {
            $('.error-msg').empty();
            $.ajax({
                url:'{% url 'sign_in_sms' %}',
                type:'POST',
                data:$('#form').serialize(),//获取数据
                dataType:'JSON',
                success:function (res) {
                    if (res.status){
                        location.href=res.data
                    }else{
                        $.each(res.errors,function(key,value) {
                            $('#id_'+key).next().text(value[0]);
                        })
                    }
                }
        })
        })
    }
    function bindClickBtnSms() {
        /*
        点击获取验证码按钮绑定事件
        找到输入框id，通过id获取手机号
         */
        $('#smsBtn').click(function () {

            $('.error-msg').empty();
            var mobilePhone=$('#id_mobile_phone').val()
            //发送ajax请求，将手机号发送过去
            $.ajax({
                url:'{% url 'send_sms' %}',
                type:'GET',
                data:{mobile_phone:mobilePhone,tpl:'sign_in_sms' },
                datatype:'JSON',//将服务端返回的数据反序列化为字典
                success: function (res) {
                    if(res.status) {
                        sendSmsRemind();
                    }else{
                        //错误信息
                        $.each(res.error,function(key,value) {
                            $('#id_'+key).next().text(value[0]);
                        })
                    }
                }
            })
        })
    }
    function sendSmsRemind() {
        var $smsBtn=$('#smsBtn');
        $smsBtn.prop('disabled',true);
        var time=60;
        var remind = setInterval(function(){
            $smsBtn.val(time+'秒后重新发送');
            time=time-1;
            if (time<1){
                clearInterval(remind);
                $smsBtn.val('点击获取验证码').prop('disabled',false);
            }

            },1000)
        }
    </script>
{% endblock %}